body{
	background-color: #b3e6ff ;
	font-family: 'Libre Baskerville', serif;
	margin: 10px ; 
	margin-top: 20px ;
	
}

p.başlık{
	font-size: 40px ;
	font-weight: 400 ;
	font-family: 'Libre Baskerville', serif;
	color: #000033 ;
	margin-left: 30px ;
	
	}
	
p.giriş{
	font-size: 18px ;
	font-weight: 250 ;
	margin-left: 25px ;
}

iframe{
	position: absolute ;
	margin-left: 900px ;
	margin-top: 80px ;

}

.kronoloji{
	font-size: 18px ;
	font-weight: 160 ;
	margin-left: 20px ;
	line-height: 30px ;
	margin-right: 400px ;
}

.resim1{
	height: 146px ;
	width: 229px ;
	border: 1px , black ;
}

ul{
	list-style-type: none ;
}
