#slider2 {
  width: 100%;
  height: 400px;
  position: relative;
}

#slider2 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

#slider2 img.active {
  opacity: 1;
}